<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <link rel="stylesheet" href="css/style.css"/>
</head>

<body>
<div id="page-wrap">
    <table>
        <thead>
        <tr>
            <th><label>Product</label></th>
            <th><label>Price (cents)</label></th>
            <th><label>Quantity</label></th>
            <th><label>SubTotal</label></th>
        </tr>
        </thead>
        <tbody>
        <div th:if="not ${receipt.getProductsMap().isEmpty()}">
            <tr th:each="entry: ${receipt.getProductsMap()}">
                <div th:if="${entry?.value}">
                    <td><label th:text="${entry.key}"></label></td>
                    <td><label th:text="${entry.value.price}"></label></td>
                    <td><label th:text="${entry.value.quantity}"></label></td>
                    <td><label th:text="${entry.value.subTotal}"></label></td>
                </div>
            </tr>
        </div>
        </tbody>
    </table>
    <p>
        <br>
        <b><label>Total amount ($)</label></b>
        <b><label th:text="${receipt.getTotal()}"></label></b>
        <br>
    <div>
        <br><br><br><br>
        <label>
            <a href="home.html" style="color: aliceblue" th:href="@{/home}">Home Page</a>
        </label>
    </div>
    </p>
</div>

</body>
</html>

